.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Profile Card Section */

.profile-card {
  opacity: 1;
  transition: visibility 0s 1s, opacity 1s linear;
  z-index: 998;
  width: 240px;
  height: 280px;
  background-color: white;
  box-shadow: 3px 3px 5px #E4E4E4, -1px -1px #E4E4E4;
  position: fixed;
  border-radius: 5px;
  border: 1px solid #BDBDBD;
  /* border-left: 1px solid #E4E4E4; */
}

.profile-card-hidden {
  z-index: 999;
  width: 240px;
  height: 280px;
  background-color: white;
  box-shadow: 3px 3px 5px #E4E4E4, -1px -1px #E4E4E4;
  position: fixed;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.arrow {
  opacity: 1;
  transition: visibility 0s 1s, opacity 1s linear;
  width: 10px;
  height: 10px;
  z-index: 999;
  background-color: white;
  box-shadow: 1px 3px 5px #E2E2E2;
  position: fixed;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari 3-8 */
  transform: rotate(45deg);
  border-right: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
}

.arrow-hidden {
  width: 10px;
  height: 10px;
  z-index: 900;
  background-color: white;
  box-shadow: 2px 4px 5px #E2E2E2;
  position: fixed;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari 3-8 */
  transform: rotate(45deg);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.guard-box {
  opacity: 0;
  width: 80px;
  height: 20px;
  z-index: 1000;
  position: fixed;
}

.card-body {
  padding: 20px;
}

.card-top-section {
  display: flex;
  padding-bottom: 10px;
}

.card-profile-image {
  /* flex: 1; */
  margin-right: 15px;
}

.card-user-section {
  /* flex: 2; */
}

.card-username {
  margin-bottom: 10px;
}

.card-badge {
  font-size: 10px;
  color: white;
  background-color: gray;
  padding: 2px;
  border-radius: 2px;
}

.card-follower-count {
  height: 5px;
  padding: 3px 7px 5px;
  border: 1px solid lightgray;
  margin-left: 5px;
}

.card-follow-button {
  background-color: #F0AD4E;
  color: white;
  border-radius: 5px;
  padding: 2px 7px 3px;
}

.info-box {
  margin: 10px 0;
}